<div class="background">
  
    <div class="container">
      <div>
      <div class="logo-wrappper">
        <img src="https://miro.com/static/images/layout/footer/mr-footer-1/footer-logo.svg?cbh=4ea473632763c4d09f06016a9f154477">
        <span>Hey!</span>
      </div>
    
      <h1>Welcome <br/> to Miro <br/> Remote Control!</h1>
    </div>
      <div class="actions">
        <p>1. Get the Miro Remote App
          Chrome extension</p>
          <p>
            2. Enter the passcode to connect
your device with presentation.
          </p>
          <br/>
        <a [ngClass]="routeAnimationsElements" mat-raised-button class="actions-main" href="https://snowflakes2020.xyz">
          Get Extension 
        </a>
        <a mat-raised-button class="actions-main white" routerLink="../connect" [ngClass]="routeAnimationsElements">
          Start
        </a>
    



      </div>

    </div>
</div>
